*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div{
    height: 20px;
    width: 2px;
    border: 2px solid black;

}
.section1 < div { 
    display:inline-black;


}
    